@page "/"

@using Services;
@using LibraryApp.Data
@using LibraryApp.Data.Library
@using LibraryApp.Services
@inject NavigationManager NavigationManager
@inject Tesseract Tesseract

@inherits OwningComponentBase<LiraryService>

<div class="main" style="margin-top: 10%;">

    <h1 class="text-center">Socrates Library</h1>
    <br />

    <!-- <form method="post">
        <label for="fname">Kullanıcı Adı : </label>
        <input type="text" id="uname" name="uname"><br><br>
        <label for="lname">Şifre : </label>
        <input type="text" id="passwd" name="passwd"><br><br>
        <label for="lname"></label>
        <button>Giriş</button>
    </form> -->

    <div class="text-center">
        <label class="labelLogin" for="uname">Kullanıcı Adı : </label>
        <input class="inputLogin" type="text" id="uname" name="uname" @bind="UserName" @bind:event="oninput"><br><br>

        <label class="labelLogin" for="passwd">Şifre :</label>
        <input class="inputLogin" type="text" id="passwd" name="passwd" @bind="Password" @bind:event="oninput"><br><br><br>

        <button class="btn btn-primary" @onclick="CheckPasswd">Login</button>
        <button class="btn btn-dark" @onclick="ChangeToAdminLogin">Admin Login</button>
    </div>
</div>

@code {
    private string UserName { get; set; }
    private string Password { get; set; }

    public string sonuc { get; set; }

    private void CheckPasswd()
    {
        User user = @Service.FindUser(UserName);

        if (user != null)
        {
            if (user.Password.Trim() == Password)
            {
                AppDataService.Instance.userSigned = user;
                NavigationManager.NavigateTo("/userPage/pageUserWelcome");
                Console.WriteLine("logged in");

            }
            else
            {
                Console.WriteLine(UserName + ", incorret password : " + Password);
                Console.WriteLine(user.UserName + ", incorret password : '" + user.Password.Trim() + "'");
            }
        }

    }

    protected override void OnInitialized()
    {
        AppDataService.Instance.OnChange += MyEventHandler;
    }
    private void MyEventHandler()
    {
        sonuc = AppDataService.Instance.TessTextList[0];
    }
    private void ChangeToAdminLogin()
    {
        NavigationManager.NavigateTo("/adminPages/pageAdminLogin");

    }
}